.daySelectorCB{
  margin-top: 10px;
  margin-left: 35vw;
  display: flex;
  height: 80px;
  width: 30vw;
  border-radius: 5px;
  border: 1px solid black;

}

.daySelectorGrid{
  margin-top: 0;
  display: inline-grid;
  grid-template-rows: 30px 50px;
}

.daySelectorLower{
  justify-content: left;
}

.daySelectorUpper {
}

.dayDetailLabel {
  display: inline-block;
  width: 100px;
}

.counterContainer {
  width: 100px;
  height: 50px;
  display: inline-block;
  float: left;
}


.counterDiv {
  display: inline-block;

  width: 25px;
  height: 25px;
  line-height: 20px;
  margin-top:3px;

  font-size: 20px;
  text-align: center;
}

.dayLabel {
  display: inline-block;
  width: 10vw;
  line-height: 80px;
}

.counterDivSymbol{
  border-radius: 100%;
  background-color: #444444;
  font-weight: 900;
  color: #ffffff;
}

.breakfastCheckBox {
  margin-top:6px;
}
