.InputContainer{
  float: left;
  width: 30vw;
}

.OptionContainer{
  display: inline-block;
  text-align: center;
  width: 30vw;
}

.InputLabel{
  padding-top: 25px;
  text-align: center;
  color: #444444;
  font-weight: 700;
}

.textInput{
  margin-top: 10px;
  margin-bottom: 25px;

  display: inline-block;

  border-radius: 6px;
  text-align: left;
  border: 2px solid #333333;
  box-shadow: 1px 1px 3px #000000;
}

.digitInput{
  width: 40px;
  height: 60px;
  margin-right: 5px;

  background: rgb(105,105,105);
  background: linear-gradient(0deg, rgba(105,105,105,1) 0%, rgba(29,29,29,1) 65%, rgba(0,0,0,1) 100%);text-align: center;

  color: #eeeeee;
  font-weight: 700;
  font-size: 30px;
  border-radius: 7px;

  border: 2px solid black;

  display: inline-block;

}

.digitContainer{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 20vw;
  margin-left: 5vw;

}

.selectorContainer{
  width: 30vw;
  margin-left: 0vw;
  display: inline-block;
  text-align: center;

}

.selectorGrid{
  width: 105px;
  height: 36px;

  display: inline-grid;
  grid-template-columns: 50px 50px;
  border-radius: 5px;

  border: 3px solid #444444;
}

.selectorOption{
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #dddddd;

  color: #222222;
  font-weight: 700px;

  border-left: 2px solid #444444;
  border-right: 2px solid #444444;

}

.selected{
  background-color: #999999;
}

.wholeline{
  width: 100vw;
  margin-left: 0;
}

.condense {
  padding-top: 0px;
}

.daySelectorCB{
  margin-top: 10px;
  margin-left: 35vw;
  display: flex;
  height: 80px;
  width: 30vw;
  border-radius: 5px;
  border: 1px solid black;

}

.daySelectorGrid{
  margin-top: 0;
  display: inline-grid;
  grid-template-rows: 30px 50px;
}

.daySelectorLower{
  justify-content: left;
}

.daySelectorUpper {
}

.dayDetailLabel {
  display: inline-block;
  width: 100px;
}

.counterContainer {
  width: 100px;
  height: 50px;
  display: inline-block;
  float: left;
}


.counterDiv {
  display: inline-block;

  width: 25px;
  height: 25px;
  line-height: 20px;
  margin-top:3px;

  font-size: 20px;
  text-align: center;
}

.dayLabel {
  display: inline-block;
  width: 10vw;
  line-height: 80px;
}

.counterDivSymbol{
  border-radius: 100%;
  background-color: #444444;
  font-weight: 900;
  color: #ffffff;
}

.breakfastCheckBox {
  margin-top:6px;
}
