@import "open-props/style";

@import "open-props/normalize";
@import "open-props/buttons";

@import "open-props/indigo";
@import "open-props/easings";
@import "open-props/animations";
@import "open-props/sizes";
@import "open-props/gradients";

.App {
  text-align: center;
}

#mainBodyDiv {
  height: 80vh;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: var(--indigo-3);

  box-shadow: var(--shadow-6);
}

#homePageTitle{
  padding-top: 3vh;
  padding-bottom: 1vh; /*for commmit? */
  font-family: var(--font-sans);
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-7)
}

#homePageCardContainer{
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 4vw;
  margin-right: 4vw;

  width: 72vw;
  height: 55vh;
}

.card{
  margin-left: 4vw;
  margin-right: 4vw;

  width: 22vw;
  height: 50vh;

  background-color: var(--indigo-6);
  box-shadow: var(--shadow-4);
  border-radius: var(--radius-2);

  display: inline-block;
}

#NLBioFormContainer {
  margin-left: 10px;
  background-color: grey;

  text-align: left;
}

.textInput{
  margin-top: 25px;
  margin-left: 50px;
  margin-bottom: 25px;


  border-radius: 2px;
  border: 2px solid lightblue;
}

.InputLabel{
  padding-top: 50px;
  margin-left: 50px;

  color: beige;
}

#formControllerHeader {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  border: 1px dotted red;
}

.progressBar {
  display: grid;
  margin-right: 0;
  margin-left: auto;
}

.backButton {
  text-align: left;
  display: grid;
  margin-right: auto;
  margin-left: 0;
}

.heightSlider {
  width: 40vw;
  margin-left: 30vw;
}

.currentWeight {
  text-align: center;
}
