@import "open-props/style";

@import "open-props/normalize";
@import "open-props/buttons";

@import "open-props/indigo";
@import "open-props/easings";
@import "open-props/animations";
@import "open-props/sizes";
@import "open-props/gradients";

.App {
  text-align: center;
}

/* --- SECTION 2: FORMS --- */

#formControllerHeader {
  width: 100vw;
  display: inline-grid;
  grid-template-columns: 40vw 30vw 40vw;
  border: 1px dotted red;
}


/*  --- SECTION 3: BIOFORM --- */

.backButton {
  text-align: left;
  display: grid;
  margin-right: auto;
  margin-left: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.currentWeight {
  text-align: center;
}
.SaveButton {
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* --- SECTION 4: SCHEDULE INFO --- */

/*  --- SECTION 5: ANIMATIONS --- */
@keyframes fade {
  0% {color: var(--indigo-1);}
  50% {color: var(--indigo-2);}
  100% {color: var(--indigo-1);}
}

/* --- SECTION 6: HEADER --- */
#header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 6vh;
  background-color: #dddddd;
  border-bottom: 2px solid black;
  z-index: 3;
}

#loginButton {
  position: relative;
  margin-right: 0;
  margin-left: auto;
}

#register {
  position: relative;
  margin-right: 0;
  margin-left: auto;
}
