name: Publish OpenAPI schema page to GitHub pages site
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

env:
  SWAGGER_PATH: static/openapi.yml

jobs:
  publish-openapi:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout Source
        uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Generate Swagger HTML File
        uses: Legion2/swagger-ui-action@v1
        with:
          output: docs
          spec-file: ${{ env.SWAGGER_PATH }}
      - name: Deploy to GitHub Pages Site
        uses: actions-js/push@v1.3
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          branch: published
          force: true